/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
/.phpunit.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vapor/
.env.production
.env.staging
.DS_Store
